<!DOCTYPE html>
<html>
  <head>
    <title>Employee Availability Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <div class="testbox">
      <form action="http://localhost:5000/uploader" method = "POST" 
      enctype = "multipart/form-data">
        <div class="banner">
          <h1>Automated Mailing System</h1>
        </div>
        
        <div class="item">
          <label for="email">Sender's Email<span>*</span></label>
          <input id="email" type="email" name="semail" placeholder="...@gmail.com"/>
        </div>
        <div class="item">
          <label for="email">Password<span>*</span></label>
          <input id="email" type="password" name="passw" placeholder="password"/>
        </div>
        <div class="item">
          <label for="name">Greeting (to be given as prefix to the name)<span>*</span></label>
          <div class="name-item">
            <input id="name" type="text" name="greeting" placeholder="Hey/Dear/hi,etc" />
            
          </div>
        </div>
        <div class="item">
          <label for="name">Subject<span>*</span></label>
          <div class="name-item">
            <input id="name" type="text" name="subject" placeholder="Hey/Dear/hi,etc" />
            
          </div>
        </div>
        
        
        
        
        <div class="item">
          <label for="comment">Content</label>
          <textarea id="content" rows="5" name = "content"></textarea>
        </div>
        <div class="item">
          <label for="email">Upload excel file<span>*</span></label>
          <input type = "file" name = "file" />
        </div>
        <div class="btn-block">
          <button type="submit" href="/">Send</button>
        </div>
      </form>
    </div>
  </body>
</html>